body {
    margin: 0;
    padding: 0;
    background: url(background.jpg);
    background-color: #929292;
    height: 135vh;
    background-size: cover;
}

.box {
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}

.box-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: bold;
}

.box h5 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
}

.box p {
    text-align: justify;
}

ul {
    margin: 0;
    padding: 0;
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box li a:hover {
    color: #b9b9b9;
}


/*Media queries for resposivity*/

@media(max-width: 600px) {
    body {
        background: rgba(0, 0, 0, 0.55);
        /*gives body a darker color*/
    }
    .box {
        width: 55%;
        padding: 20%;
        background: none;
        /*removes the special background from the box*/
    }
    .box h1 {
        font-size: 30px;
    }
    .box li {
        display: block;
    }
}